[viewBag]
==
<footer>
    
    <div class="dgrey">
        <div class="container"> 
            <p><a href="http://www.sportsdoctors.com.au" title="Back to HOME page">home</a>  |  <a href="http://www.sportsdoctors.com.au/find-a-sports-doctor" title="Search for a Sports Doctor">find a sports doctor</a>  |  <a href="mailto:members@sma.org.au">contact</a></p>
        </div>
    </div>
    
    <div class="green">
        <div class="container">
            <p>COMPREHENSIVE CARE FOR THE SPORTING COMMUNITY</p>
            
            <span>©copyright 2016 Sports Doctors Australia</span>
            
        </div>
    </div>
    
</footer>

<div class="websiteByWSG" onclick="Javascript:window.open('http://www.websiteglobal.com.au');"><a style="display: none;" href="http://websiteglobal.com.au">Website Global</a></div>