[viewBag]
==
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>

<!-- MASTERSLIDER -->
<script>
    
    var slider = new MasterSlider();
        
            if ($(window).width() < 767) {
                              
              slider.setup('masterslider', {
                layout: "fullwidth",
                
                height: 450,   
                autoplay: true,
        		loop: true,
              });
            } else {
                
                slider.control('arrows' , {autohide:false});
                
              slider.setup('masterslider', {
                width:1200,    // slider standard width
        		height:530,   // slider standard height
        		space:5,
                autoplay: true,
        		loop: true,
        		layout: "fullwidth",
              });
            }   
    
    jQuery('.date').each(function() {    
				var data =jQuery(this).text();
				var arr = data.split('-');
				jQuery(this).html('<div class="day">'+arr[0] + '</div> <div class="month">'+arr[1] + '</div> <div  class="year">'+arr[2] + '</div>');
        });
    
</script>