[viewBag]
==
<!-- masterslider -->
<div class="master-slider ms-skin-default" id="masterslider">
    <!-- new slide -->
    <div class="ms-slide">
         
        <!-- slide background -->
        <img src="masterslider/blank.gif" data-src="{{ 'assets/images/slider/slide1_football.jpg'|theme }}" alt="lorem ipsum dolor sit"/>     
         
         
    </div>
    <!-- end of slide -->
     
    <!-- new slide -->
    <div class="ms-slide">
         
        <!-- slide background -->
        <img src="masterslider/blank.gif" data-src="{{ 'assets/images/slider/slide2_cricket.jpg'|theme }}" alt="lorem ipsum dolor sit"/>     
         
         
        <!-- linked slide -->
        <a href="http://codecanyon.net/user/averta">Averta</a>
         
    </div>
    <!-- end of slide -->
     
    <!-- new slide -->
    <div class="ms-slide">
         
        <!-- slide background -->
        <img src="masterslider/blank.gif" data-src="{{ 'assets/images/slider/slide3_kick.jpg'|theme }}" alt="lorem ipsum dolor sit"/>     
        
         
    </div>
    <!-- end of slide -->
 
</div>
<!-- end of masterslider -->